<%= form_with(model: piple) do |form| %>
  <% if piple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(piple.errors.count, "error") %> prohibited this piple from being saved:</h2>

      <ul>
        <% piple.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :parens_name %>
    <%= form.text_field :parens_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex %>
  </div>

  <div class="field">
    <%= form.label :beardth_date %>
    <%= form.text_field :beardth_date %>
  </div>

  <div class="field">
    <%= form.label :other_date %>
    <%= form.text_field :other_date %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
