<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @piple.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @piple.last_name %>
</p>

<p>
  <strong>Parens name:</strong>
  <%= @piple.parens_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @piple.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @piple.phone %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @piple.sex %>
</p>

<p>
  <strong>Beardth date:</strong>
  <%= @piple.beardth_date %>
</p>

<p>
  <strong>Other date:</strong>
  <%= @piple.other_date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @piple.customer_id %>
</p>

<%= link_to 'Edit', edit_piple_path(@piple) %> |
<%= link_to 'Back', piples_path %>
