<p id="notice"><%= notice %></p>

<p>
  <strong>Name document:</strong>
  <%= @docunet.name_document %>
</p>

<p>
  <strong>Second column:</strong>
  <%= @docunet.second_column %>
</p>

<p>
  <strong>Note:</strong>
  <%= @docunet.note %>
</p>

<%= link_to 'Edit', edit_docunet_path(@docunet) %> |
<%= link_to 'Back', docunets_path %>
