<%= form_with(model: purchase) do |form| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% purchase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_product %>
    <%= form.text_field :name_product %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.text_field :count %>
  </div>

  <div class="field">
    <%= form.label :_price %>
    <%= form.text_field :_price %>
  </div>

  <div class="field">
    <%= form.label :stage_buy %>
    <%= form.text_field :stage_buy %>
  </div>

  <div class="field">
    <%= form.label :stage_in_corp %>
    <%= form.text_field :stage_in_corp %>
  </div>

  <div class="field">
    <%= form.label :plus_info %>
    <%= form.text_field :plus_info %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
