<p id="notice"><%= notice %></p>

<p>
  <strong>Name product:</strong>
  <%= @purchase.name_product %>
</p>

<p>
  <strong>Count:</strong>
  <%= @purchase.count %>
</p>

<p>
  <strong>Price:</strong>
  <%= @purchase._price %>
</p>

<p>
  <strong>Stage buy:</strong>
  <%= @purchase.stage_buy %>
</p>

<p>
  <strong>Stage in corp:</strong>
  <%= @purchase.stage_in_corp %>
</p>

<p>
  <strong>Plus info:</strong>
  <%= @purchase.plus_info %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @purchase.customer_id %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
