<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>

  <div class="field">
    <%= form.label :contact_person %>
    <%= form.text_field :contact_person %>
  </div>

  <div class="field">
    <%= form.label :adress_custommer %>
    <%= form.text_field :adress_custommer %>
  </div>

  <div class="field">
    <%= form.label :edrpou %>
    <%= form.text_field :edrpou %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note %>
  </div>

  <div class="field">
    
    <%= form.text_field :dev_date, type: :hidden %>
  </div>

  <div class="field">
    
    <%= form.number_field :user_id, id: :customer_user_id, placeholder: "User id",
    value: current_user.id, type: :hidden %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
