<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :customer_name, class: "form-control", placeholder: "customer name" %>
  </div>

  <div class="field">
  
    <%= form.text_field :contact_person, class: "form-control", placeholder:"Contact person" %>
  </div>

  <div class="field">
    <%= form.text_field :adress_custommer, class: "form-control", placeholder:"Address" %>
  </div>

  <div class="field">
    <%= form.text_field :edrpou, class: "form-control", placeholder:"ederpou" %>
  </div>

  <div class="field">
    <%= form.text_field :email, class: "form-control", placeholder:"email" %>
  </div>

  <div class="field">
    <%= form.text_field :website, class: "form-control", placeholder:"website" %>
  </div>

  <div class="field">
    <%= form.text_field :notebtn, class: "form-control", placeholder:"note" %>
  </div>

  <div class="field">
    
    <%= form.text_field :dev_date, type: :hidden %>
  </div>

  <div class="field">
    <%= form.number_field :user_id, id: :customer_user_id, placeholder: "User id", 
    value: current_user.id, type: :hidden %>
  </div>


  <div class="actions">
    <%= form.submit class:"btn btn-primary btn-sm" %>
  </div>
<% end %>
