<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @customer.customer_name %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @customer.contact_person %>
</p>

<p>
  <strong>Adress custommer:</strong>
  <%= @customer.adress_custommer %>
</p>

<p>
  <strong>Edrpou:</strong>
  <%= @customer.edrpou %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @customer.website %>
</p>

<p>
  <strong>Note:</strong>
  <%= @customer.note %>
</p>

<p>
  <strong>Dev date:</strong>
  <%= @customer.dev_date %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-dark" %> 
<%= link_to 'Back', customers_path, class: "btn btn-dark" %>
