<div class="jumbotron">
  <h3 class="display-4"> <%= @customer.customer_name %></h1>
  
  </hr>
  </br>
  
  <p>
    <strong>Contact person:</strong>
    <%= @customer.contact_person %>
  </p>

  <p>
    <strong>Adress custommer:</strong>
    <%= @customer.adress_custommer %>
  </p>

  <p>
    <strong>Edrpou:</strong>
    <%= @customer.edrpou %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @customer.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= @customer.website %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @customer.note %>
  </p>

  <p>
    <strong>Dev date:</strong>
    <%= @customer.dev_date %>
  </p>


  <%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-dark" %> 
  <%= link_to 'Back', customers_path, class: "btn btn-dark" %>

 

</div>

<hr class "mg-3"></hd>

<h2>Write new purchase</h2>

<%= form_with model: [@customer, @purchase] do |f|%>
 
  <div>
    <%= f.text_area :name_product, placeholder: "product name", class: "form-control"%>
  </div>

  <div>
    <%= f.text_area :count_price_params, placeholder: "params price", class: "form-control"%>
  </div>

  <div>
    <%= f.text_area :stage_buy, placeholder: "stage buy", class: "form-control"%>
  </div>

  <div>
    <%= f.text_area :stage_in_corp, placeholder: "stage in corp", class: "form-control"%>
  </div>  

  <div>
    <%= f.text_area :plus_info, placeholder: "plus info", class: "form-control"%>
  </div>  

  <div>
    <%= f.submit "Submit Ansver", class: "btn btn-primary"%>
  </div>  

<% end %>


<h2>Purchases</h2>

  <% @purchases.each do |purchase| %>
    
    <time datetime= "<% purchase.formated_created_at %>">
      <%= purchase.formated_created_at %>
    </time>

    <p>
      <%= purchase.name_product%>
    </p>

  <% end %>